<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <h2>Welcome Admin</h2>
    <h3>Profile</h3>
    <a href="/admin">Home |</a>
    <a href="/admin/profile">Profile </a> |
    <a href="/admin/change"> Change Password </a> |
    <a href="/logout">Logout </a>
    <hr />
    <a href="/admin/all_posts">All Posts</a> |
    <a href="/admin/post">Pending Post</a> |

    <a href="/admin/users">All General User</a> |
    <a href="/admin/scouts">All Scouts</a>
    <hr />
    <form method="POST">
      <table>
        <tr>
          <td>Name</td>
          <td>
            <input type="text" name="name" value="<%=user[0].name%>" />
          </td>
        </tr>
        <tr>
          <td>Username</td>
          <td>
            <input type="text" name="username" value="<%=user[0].username%>" />
          </td>
        </tr>
        <tr>
          <td>Email</td>
          <td>
            <input type="text" name="email" value="<%=user[0].email%>" />
          </td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>
            <input type="text" name="phone" value="<%=user[0].phone%>" />
          </td>
        </tr>
        <tr>
          <td></td>
          <td><input type="submit" name="submit" value="Edit Profile" /></td>
        </tr>
      </table>
    </form>
  </body>
</html>
