<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h2>Welcome <%=user[0].name %></h2>
    <h3>Home</h3>
    <a href="/user">Home |</a>
    <a href="/user/profile">Profile </a> |
    <a href="/user/change"> Change Password </a> |
    <a href="/logout">Logout </a>
    <hr />
  </body>
</html>
